<nav class="navbar navbar-expand navbar-light bg-white topbar mb-12 static-top shadow">

    <!-- Topbar Search -->

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->

        <!-- Nav Item - Alerts -->

        <!-- Nav Item - Messages -->

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">A A</span>
                <img class="img-profile rounded-circle" src="https://img.new.livestream.com/accounts/0000000000381f67/bd2ba718-3725-4787-82a7-853aa337259f.png">
            </a>
            <!-- Dropdown - User Information -->
        </li>

    </ul>

</nav>