<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">About</h6>
    </div>
    <div class="card-body">
        <p>Nuestra misión es proporcionarte una plataforma completa y actualizada donde puedas obtener toda la información sobre las competencias IronMan que se llevan a cabo en todo el mundo. 
            Desde los eventos principales, como el Campeonato Mundial de IronMan en Kailua-Kona, hasta competiciones regionales, calendarios, resultados y noticias más recientes, te mantendremos informado sobre todo lo relacionado con este asombroso desafío atlético.
            Si eres un amante del deporte, un entusiasta del fitness o simplemente buscas inspiración y motivación, este sitio web es tu destino definitivo.
        </p>
    </div>
</div>