<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">IM Ranking <sup>2023</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>IMRanking</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                NOVEDADES
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed">
                    <a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?mid=1z3wWmoi6MFwQs9UReqbQUFVVyLWm3znH">Mapa externo</a>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            

            <!-- Sidebar Toggler (Sidebar) -->

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="https://cdn-icons-png.flaticon.com/512/10350/10350341.png" alt="...">
                
                <p class="text-center mb-2"><strong>IMRanking</strong> contiene los principales resultados de competencias IRONMAN, accede a la página oficial para más información!</p>
                <a class="btn btn-success btn-sm" href="https://www.ironman.com/">IM</a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Navigation-->
                <app-navigation></app-navigation>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">IMRanking</h1>
                    </div>

                    <!-- About -->
                    <div class="col-12">
                        <app-about></app-about>
                    </div>
                    
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-6">
                            <app-promedio-tiempo-fem></app-promedio-tiempo-fem>
                        </div>    
                        <div class="col-6">
                            <app-promedio-tiempo-man></app-promedio-tiempo-man>
                        </div>                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <!-- top 3 campeonas -->
                            <app-top3-fem></app-top3-fem>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <!-- top 3 campeones -->
                            <app-top3-male></app-top3-male>
                        </div>
                    </div>
                    
                    <div class="row">                        
                        <!-- Content Row -->         
                        <app-grafico></app-grafico>
                            <!-- Agrega aqui componente titulostotal!!!!!!! -->   
                    </div>

                    <div class="row">
                        <app-titulostotal></app-titulostotal>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <app-footer></app-footer>

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>