<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Podio IronMan Masculino 2019</h6>
    </div>
    <div class="card-body">
      <!-- llevar a componente -->
    </div>

    <!-- Tabla con datos -->

  <table>
    <thead>
      <tr>
        <th>Atleta</th>
        <th>Nacionalidad</th>
        <th>Tiempo</th>
        <th>Posición</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let datum of data">
          <ng-container *ngIf="datum.Gender === 'Male' && datum.Year === '2019'">
            <td>{{  datum.Athlete  }}</td>
            <td>{{  datum.Country  }}</td>
            <td>{{  datum.Time }}</td>
            <td>{{  datum.Place }}</td>
          </ng-container>
        </tr>
    </tbody>
</table>

</div>
