<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Campeón Mundial</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" border="0" src="https://i.ibb.co/3kC2r7s/frodeano-champ.png" alt="Anne-champ">
        </div>
        <p>Jan Frodeno</p>
        <a target="_blank" rel="nofollow" href="https://trimexico.com/galeria-de-ironman-world-championship-kona-2018/">Galería →</a>
    </div>
</div>
